doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
       
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet")
    
    title Lista de Productos
    style(type="text/css").
        * {
            font-family: "Lobster", cursive;
        }
        img {
            width: 50px;
        }
    body
        nav
            a(href='/' class="btn btn-light") Agregar producto
            a(href='/products-list' class="btn btn-light") Ver lista
        h1='Lista de productos'
        hr
        if productList.length > 0
            div(class="table-responsive")
                table(class="table table-light") 
                    tr 
                        th(scope="col")='Id'
                        th(scope="col")='Título'
                        th(scope="col")='Precio'
                        th(scope="col")='Imagen'
                    for product in productList
                        tr
                            td=product.id
                            td=product.title
                            td=product.price
                            td
                                img(src=product.thumbnail alt="imagen")
        else 
            h2='No hay productos'